<div class="photographer">
    <h2>{{photographers.name}}</h2>
        <div style="display:flex;">
        <div class="app-photographer-image"><img [src]="photographers.imageURL" [alt]="photographers.name"/></div>
    
        <p class="card-text" *ngIf="photographers.description">{{photographers.description}}</p>
        </div>
        <P>📸 {{photographers.numberofpic}}</P>
        <button type="button" class="btn btn-secondary" (click)="photographFollower()" [ngClass]="{'btn-info': buttonText==='✔️'}">{{buttonText}}</button>
        <span>👍 {{photographers.follower}}</span>
    
    </div>