.navbar{
    padding: 26px;
}
.navbar-toggler-account{
    display: flex;
}
.form-inline{
    display: flex;
}
.navbar-collapse{
    justify-content: space-between;
}
.navbar-toggler-icon{
    border-radius: 1px solid ;
}