<section class="section_shared">
    <div class="container-shared-picture">
        <app-shared-picture [sharedPicture]="myPicture" ></app-shared-picture>
        <app-shared-picture [sharedPicture]="myOtherPicture" ></app-shared-picture>
        <app-shared-picture [sharedPicture]="myPicture" ></app-shared-picture>
        <app-shared-picture [sharedPicture]="myOtherPicture" ></app-shared-picture>
    </div>
    <div class="container-shared-sport">
        <app-shared-spot [sharedSpot]="mySpot"></app-shared-spot>   
        <app-shared-spot [sharedSpot]="mySpot"></app-shared-spot>   
        <app-shared-spot [sharedSpot]="mySpot"></app-shared-spot>    
    </div>
    
</section>